{% extends "base.html" %}

{% block content %}
  <h2>Uploaded Payment Receipts</h2>
  <br>
  <table style="width: 100%; border-collapse: collapse; border: 1px solid #ddd;">
    <thead>
      <tr style="background-color: #f2f2f2;">
        <th style="padding: 10px; border: 1px solid #ddd;">#</th>  <!-- Row number column -->
        <th style="padding: 10px; border: 1px solid #ddd;">Customer</th>
        <th style="padding: 10px; border: 1px solid #ddd;">Amount</th>
        <th style="padding: 10px; border: 1px solid #ddd;">Shop Number</th>
        <th style="padding: 10px; border: 1px solid #ddd;">Payment Date</th>
        <th style="padding: 10px; border: 1px solid #ddd;">Receipt Image</th>
        <th style="padding: 10px; border: 1px solid #ddd;">Uploaded By</th>
        <th style="padding: 10px; border: 1px solid #ddd;">Verified</th>
        <th style="padding: 10px; border: 1px solid #ddd;">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for receipt in payment_slips %}
        <tr>
        <td style="padding: 10px; border: 1px solid #ddd;">{{ forloop.counter }}</td>  <!-- Display row number -->
          <td style="padding: 10px; border: 1px solid #ddd;">{{ receipt.customer.title }} {{ receipt.customer.name|title }}</td>
          <td style="padding: 10px; border: 1px solid #ddd;">₦{{ receipt.amount }}</td>
          <td style="padding: 10px; border: 1px solid #ddd;">{{ receipt.shop_no.name }}</td>
          <td style="padding: 10px; border: 1px solid #ddd;">{{ receipt.payment_date }}</td>
          <td style="padding: 10px; border: 1px solid #ddd;">
            {% if receipt.image %}
              <img src="{{ receipt.image.url }}" alt="Receipt Image" style="width: 100px; height: auto;">
            {% else %}
              No Image
            {% endif %}
          </td>
          <td style="padding: 10px; border: 1px solid #ddd;">{{ receipt.uploaded_by.username|title }}</td>
          <td style="padding: 10px; border: 1px solid #ddd;">
            {% if receipt.is_verified %}
              Verified
            {% else %}
              Not Verified
            {% endif %}
          </td>
          <td style="padding: 10px; border: 1px solid #ddd;">
            <a href="{% url 'verify-payment-receipt' receipt.pk %}">Verify Payment</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
