{% extends 'base.html' %} {% block title %} Customer Master Record {% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var statusField = document.getElementById('id_status');
        var exitDateField = document.getElementById('id_exitdate').parentNode;

        function toggleExitDateField() {
            if (statusField.value === 'exited') {
                exitDateField.style.display = 'block';
            } else {
                exitDateField.style.display = 'none';
            }
        }

        statusField.addEventListener('change', toggleExitDateField);

        // Initial call to set the correct visibility when the page loads
        toggleExitDateField();
    });

    document.addEventListener('DOMContentLoaded', function() {
        var statusField = document.getElementById('id_status');
        var outstandingBalanceFieldContainer = document.getElementById('outstanding_balance_container');
        var outstandingBalanceField = document.getElementById('id_outstanding_balance');

        function toggleOutstandingBalanceField() {
            if (statusField.value === 'renewal') {
                outstandingBalanceFieldContainer.style.display = 'block';
            } else {
                outstandingBalanceFieldContainer.style.display = 'none';
                outstandingBalanceField.value = '';  // Clear the input field if not needed
            }
        }

        // Initial check
        toggleOutstandingBalanceField();

        // Add event listener for change event
        statusField.addEventListener('change', toggleOutstandingBalanceField);
    });


    document.addEventListener('DOMContentLoaded', function() {
        var stateField = document.getElementById('id_state');
        var otherStateFieldContainer = document.getElementById('other_state_container');
        var otherStateField = document.getElementById('id_other_state');

        function toggleOtherStateField() {
            if (stateField.value === 'Others') {
                otherStateFieldContainer.style.display = 'block';
            } else {
                otherStateFieldContainer.style.display = 'none';
                otherStateField.value = '';  // Clear the input field if not needed
            }
        }

        // Initial check
        toggleOtherStateField();

        // Add event listener for change event
        stateField.addEventListener('change', toggleOtherStateField);
    });
</script>



<div class="container">
    <div class="row">
        <h3>Welcome to the Customer Review Page</h3>
    </div>

    <br>
    <br>

    <div class="row">
        <div class="col-md-3">
            <img src="https://prosper-django-bucket.s3.us-east-2.amazonaws.com/customer.JPG" class="card-img-top mx-auto"  alt="Happy Customers">
        </div>
        <div class="col-md-9">
            <div class="card mx-auto">
                <div class="card-header"><strong>Customer Update Page</strong></div>
                <div class="card-body">
                    <h5 class="card-title">Master Record</h5>
                    <p class="card-text">
                    <form action="" method="POST" autocomplete="off">
                            {% csrf_token %}
                        <div class="row">
                            <div class="col-md-2">
                                {{form.no|as_crispy_field}}
                            </div>
                            <div class="col-md-4">
                                {{form.name|as_crispy_field}}
                            </div>
                            <div class="col-md-6">
                                {{form.business|as_crispy_field}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                {{form.email|as_crispy_field}}
                            </div>
                            <div class="col-md-2">
                                {{form.phone|as_crispy_field}}
                            </div>
                            <div class="col-md-2">
                                {{form.nature|as_crispy_field}}
                            </div>
                            <div class="col-md-4">
                                {{form.occupation|as_crispy_field}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                {{form.dob|as_crispy_field}}
                            </div>
                            <div class="col-md-6">
                                {{form.address|as_crispy_field}}
                            </div>
                            <div class="col-md-4">
                                {{form.state|as_crispy_field}}
                            </div>

                             <!-- New row for the 'other_state' field -->
                        <div class="row" id="other_state_container" style="display: none;">
                            <div class="col-md-4">
                                {{ form.other_state|as_crispy_field }}
                            </div>
                        </div>
                            
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                {{form.date|as_crispy_field}}
                            </div>
                            
                            <div class="col-md-2">
                                {{form.status|as_crispy_field}}
                            </div> 

                            <div class="row" id="outstanding_balance_container" style="display: none;">
                                <div class="col-md-4">
                                    {{ form.outstanding_balance|as_crispy_field }}
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                {{form.data_entry_officer_note|as_crispy_field}}
                            </div>

                            <div class="col-md-6">
                                {{form.review_officer_note|as_crispy_field}}
                            </div>

                        
                        </div>
                          
                        </br>
                        <div class="row">
                                <div class="col-md-4">
                                  
                                <button  type="submit" class="btn btn-success w-100">Review</button>
                                </div>
                                <div class="col-md-6">
                                </div>
                        </div>
                    </form>
                </p>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock %}