<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Shop Creation Notification</title>
</head>
<body style="font-family: Arial, sans-serif;">

    <div style="background-color: #f5f5f5; padding: 20px;">
        <!-- <h2 style="color: #333;">Rent Payment Reminder</h2> -->
        <p>Dear Admin,</p>
        <p>I hope this message finds you well.</p>
        <p>I am pleased to inform you that we have successfully created a new shop for
Nina Sky Innovation Limited. Kindly login to the dashboard to approve the shop. This new addition is a significant step forward and
reflects our commitment to expanding our reach and enhancing our offerings.</p>
        <p>Details of the New Shop:</p>
        <p>Shop number: {{ shop.no }}</p>
        <p>Shop Type: {{ shop.type }}</p>
        <p>Shop size: {{ shop.size }}</p>
        <p>Shop address: {{ shop.address }}</p>
<p>Thank you for your continued support and leadership.</p>
<p>Best regards,</p>
<p>Nina Sky Innovations Limited</p>
    </div>

</body>
</html>

