{% extends 'base.html' %} {% block title %} Welcome to the Shop Manager App | Home Page {% endblock %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <div class="container ml-3 mr-3">
    <div class="card text-bg-dark">
        <img src="{% static 'images/house.jpg' %}" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Welcome to Nina Sky Shop Manager</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small>login to access full site</small></p>
        </div>
      </div>
</div>
{% endblock %}